.App {
  width: 100%;
  margin: auto;
}

.App-header {
  background-color: #0080ff;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header h1{
  font-size: 24px;
}

.container {
  width: 80%;
  margin: auto;
}

button{
  height: 40px;
  width: 40px;
  background: #0080ff;
  color: white;
  font-size: 24px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
  margin-left: 8px;
}